<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome, <%= userName %></p>-->
    <br>
    <br>
    <img src="../images/1.jpg"><hr/>
    <p><strong>生活不是一場什麼冒險，而是一場莫之能御的洪流.</strong></p><hr/>
    <script src="https://img3.doubanio.com/f/shire/4767f612cf1e57d7c996c601bcc1575fbd19aebf/js/radiowidget_plain.js?doubanid=58127859&maxresults=10&color="></script>
    <!--<a href="http://github.com/MullerToSuccess" target="_blank"><img src="../images/me.jpg"></a>-->
    <!--<a href="http://github.com/MullerToSuccess" target="_blank" style="margin-left: 20px"><img src="../images/weibo-oc.png"></a>-->
    <footer class="footer">
      <div class="container">
        <p><a href="http://github.com/MullerToSuccess" target="_blank">贾柯</a> 2017</p>
      </div>
    </footer>
  </body>
</html>
