<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>这里是首页, <%= userName %></p>
    <p>我的信息:</p>
    <hr />
    <a href="http://github.com/MullerToSuccess" target="_blank"><img src="../images/me.jpg"></a>
    <a href="http://github.com/MullerToSuccess" target="_blank" style="margin-left: 20px"><img src="../images/weibo-oc.png"></a>
  </body>
</html>
