<form method="post">
    <fieldset>
        <legend>注册</legend>
        <div>
            <label for="username">用户名</label>
            <div>
                <input type="text" id="username" name="username">
            </div>
        </div>
        <div>
            <label for="password">口令</label>
            <div>
                <input type="text" id="password" name="password">
            </div>
        </div>
        <div>
            <label for="password-re">重复口令</label>
            <div>
                <input type="text" id="password-re" name="password-re">
            </div>
        </div>
        <div>
            <button type="submit">注册</button>
        </div>
    </fieldset>
</form>
