<form method="post" action="/post" style="text-align: center">
    <!--<input type="text" class="span8" name="post">-->
    <textarea class="span8" name="post" style="height: 150px"></textarea>
    <button type="submit" class="btn btn-primary">
        <i>发言</i>
    </button>
</form>